@import "tailwindcss";
@theme {
	--text-huge: 12rem;
}
@layer base {
	h1 {
		font-size: var(--text-5xl);
		font-weight: var(--font-weight-bold);
	}
	h2 {
		font-size: var(--text-2xl);
	}
	p {
		font-size: var(--text-lg);
	}
	section {
		min-height: 100vh;
		min-width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.card {
	width: 25vw;
}
.timeline-element {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100vw;
}
